@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    scroll-behavior: smooth;
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    @apply text-e-white bg-e-black;
}
* {
    transition: all ease-in-out 320ms;
}
img {
    max-width: 100%;
}
.inner {
    max-width: 1200px;
    @apply mx-auto w-full px-4;
}
.background-aboutme {
    background-image: url("./assets/bg/pexels-markus-spiske-1089440.jpg");
    background-position: center;
}
.background-education {
    background-image: url("./assets/bg/mario.png");
    background-size: 1440px 1633px;
    background-position: center;
}
.background-contact {
    background-image: url("./assets/bg/pexels-cottonbro-studio-4629623.png");
    background-position: center;
    background-size: cover;
}
